// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    width: 350px;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

#sidebar-wrapper .list-group-item.list-group-item-action{
    background: white;
    border-left: 5px solid #4177e4;
}

#sidebar-wrapper .list-group {
    width: 16rem;
    margin: 18px 18px;
}

#page-content-wrapper {
    min-width: 100vw;
}

.main-container{
    overflow: scroll;
    height: 850px;
    padding-top: 50px;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

#sidebar-wrapper, #sidebar-wrapper .list-group-item{
    background: rgb(243, 243, 243);
    border: none;
}
#sidebar-wrapper .list-group-item{
    cursor: pointer;
}

.navbar{
    background-color: #4177e4;
}

.upload-btn{
    float:right;
    svg{
        margin-left: 5px;
    }
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }

    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}
